<div *ngIf="observableInfoJODuPays$ | async as infoPays">

  <p>{{infoEtat}}</p>
  <p>{{infoPays.infoEtatObservable}}</p>
  <p>{{infoErreurId}}</p>
  <p>{{infoEtatGraphique}}</p>
  <p></p>

  <div >
    
    <h2>{{infoPays.nomDuPays}}</h2>
    <hr />

    <p><strong>Nombre de participations : {{infoPays.nbParticipationsAuJODuPays}}</strong>  |
    <strong>Total de médailles : {{ infoPays.nbTotalDeMedailsDuPays }}</strong>  |
    <strong>Total d'athlètes : {{ infoPays.nbTotalAthletesDuPays }} </strong> </p>


    <!-- Graphique ligne -->

    <canvas
      baseChart
      [data]="contenuGraphique"
      [type]="typeGraphique">
    </canvas>
      
    <br><br>

    <button routerLink="/">Retour à la page d'accueil</button>


  </div>

</div>
