<div *ngIf="observableInfoJODuPays$ | async as infoPays">

  <p>{{infoEtat}}</p>
  <p>{{infoPays.infoEtatObservable}}</p>
  <p></p>

  <div >
    
    <h2>{{infoPays.nomDuPays}}</h2>
    <hr />

    <p><strong>Nombre de participations : {{infoPays.nbParticipationsAuJODuPays}}</strong>  |
    <strong>Total de médailles :</strong>  |
    <strong>Total d'athlètes :</strong> </p>


    <!-- Graphique ligne -->
    
    <br><br>

    <button routerLink="/">Retour à la page d'accueil</button>


  </div>

</div>
