<h1>Dasboard</h1>
<hr />
<h4>
    {{ infoEtat }}
</h4>

<p class="p-accueil">
    Bienvenue sur le tableau de bord officiel des Jeux Olympiques by TéléSport ! Plongez au cœur de l’action, suivez les exploits des athlètes et découvrez les médailles remportées par chaque pays, en toute simplicité. Accessible sur tous vos écrans, cette plateforme moderne et dynamique vous offre une expérience unique. Prêt à suivre les Jeux en temps réel avec TéléSport ?
</p>


<h2>Medals per Country</h2>

<div *ngIf="observableInfoPratiqueJO$ | async as infoJO">

    <p><strong>Numbers Of JOs {{infoJO.nbDeJo}}</strong>   | <strong>Numbers Of Countrys {{infoJO.nbDePays}} </strong> </p>


</div>

<div>
    <canvas 
    #graphiqueAccueil
    baseChart
    [type]="typeGraphique"
    [data]="contenuGraphique"
    [options]="pluginDataLabel"
    [plugins]="[ChartDataLabels]"
    (chartClick)="fonctionRedirection($event)" >
        
    </canvas>
</div>