/* You can add global styles to this file, and also import other style files */

body {
    font-size: 1.4rem;
    width: 80%;
    margin: auto; 
    
}

.titreBleu{
  background-color: #04838f;
  color: white;
  padding: 10px;
  width: max-content;
  margin: auto;
  }

.conteneurCentredesTitres{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  
}


.titreEncadreBleu{
  border: 0.5px solid #04838f;
  padding: 6px;
  margin: 10px;
  width: max-content;
  
}


@media(min-width: 1024px){

  canvas{
  
  width: 30%;
  margin: 5% auto; /* Centrage horizontal + espacement */

}

}






