/* You can add global styles to this file, and also import other style files */

body {
    font-size: 1.4rem;
    width: 80%;
    margin: auto; 
    
}

@media(min-width: 1024px){

  canvas{
  
  width: 30%;
  margin: 5% auto; /* Centrage horizontal + espacement */

}

}






